@font-face {
    font-family: "Totoro";
    src: url("../assets/totoroFont.woff");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url(../assets/totoro-background.png);
  height: 100%;
  width: 100%;
}

/* --------- HEADER --------- */

#headerContent {
  display: flex;
  justify-content: space-evenly;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

#headerNavLinks {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.headerNavBtn {
    color: white;
    font-family: "Totoro";
    font-size: 2rem;
}

/* --------- BODY --------- */

#bodyContent {
  display: flex;
  width: 100%;
}

/* --------- FOOTER --------- */

#footerContent {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 0;
  gap: 10px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
}

#icon {
  width: 25px;
}
